{% extends "admin/change_list.html" %}
{% load admin_urls %}

{% block object-tools-items %}
<li>
    <a href="{% url 'admin:commande_revenue_chart' %}" class="button" style="background: #417690; padding: 10px 15px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="vertical-align: middle; margin-right: 5px;">
            <line x1="18" y1="20" x2="18" y2="10"></line>
            <line x1="12" y1="20" x2="12" y2="4"></line>
            <line x1="6" y1="20" x2="6" y2="14"></line>
        </svg>
        Chiffre d'affaires
    </a>
</li>
{{ block.super }}
{% endblock %}
